# SPDX-FileCopyrightText: 2026 slammo84
# SPDX-License-Identifier: Apache-2.0

config dawnloc 'main'
  option enabled '1'
  option broker '192.168.1.10'
  option port '1883'
  option username 'dawnloc'
  option password 'CHANGE_ME'
  option topic 'dawnloc/raw/hearing_map'
  option interval '3'
  option tls '0'
  option node_name 'openwrt'
